{% extends 'learning_logs/base.html' %}

{% block page_header %}
	<h3>{{ topic }}</h3>
  
{% endblock page_header %}


{% block content %}


	
	<p>
		
		<a href="{% url 'learning_logs:new_entry' topic.id %}"> Adicionar nova entrada</a>
	</p>

	<ul>
	{% for entry in entries %}
		<div class="card mb-3">
		<h4 class="card-header">
			{{ entry.date_added|date:'d/m/y H:i' }}
			<small><a href="{% url 'learning_logs:edit_entry' entry.id %}">
				editar entrada</a></small>
		</h4>
		<div class="card-body">
			{{ entry.text|linebreaks }}
		</div>
		</div>
	{% empty %}
		<p>Não há nenhum comentário sobre este assunto ainda.</p>
	{% endfor %}
{% endblock content %}